
<div class="row text-center">
    <h2>Trips</h2>
</div> 
<div class="row">
    <div class="col-xs-2 col-xs-offset-1">
        <label>Trip Id:</label>
        <input type="text" class="form-control" placeholder="Trip id input" ng-model="tripParameters.Id" />
        <input type="text" class="form-control" placeholder="Boat name input" ng-model="tripParameters.BoatName" />
    </div>
 
 
</div>
<div class="row">
    <div class="col-xs-2 col-xs-push-2"><button class="btn btn-default btn-lg" ng-click="listAllTrips(tripParameters)">List All Trip</button></div>
    <div class="col-xs-2 col-xs-push-2"><button class="btn btn-default btn-lg" ng-click="getTrip(tripParameters)">Get Trip</button></div>
    <div class="col-xs-2 col-xs-push-2"><button class="btn btn-default btn-lg" ng-click="addTrip(tripParameters)">Add Trip</button></div>

</div>
<div class="row col-xs-10 col-xs-offset-1">
    <textarea class="form-control" rows="30" readonly="readonly" ng-model="result"></textarea>
</div>
 
