trophy
<!--<div class="row text-center">
    <h2>Trips</h2>
</div>
<div class="row">
    <div class="col-xs-2 col-xs-offset-1">
        <label>Trip Name:</label>
        <input type="text" class="form-control" placeholder="Trip name input" ng-model="tripParameters.tripName" />
    </div>
 
 
</div>
<div class="row">
    <div class="col-xs-2 col-xs-push-2"><button class="btn btn-default btn-lg" ng-click="listAllTrips(tripParameters)">List All Trip</button></div>
     
</div>
<div class="row col-xs-10 col-xs-offset-1">
    <label>Response:</label><img src="/App/images/ajax_loader.gif" ng-show="showSpinner" />
    <textarea class="form-control" rows="30" readonly="readonly" ng-model="result"></textarea>
</div>-->
 
